a, a:hover, a:focus {
  text-decoration: none;
  color:#ffffff;
}

.about {
  font-size: 18px;
}

body {
  /*
  magenta
  brush teal
  og teal
  navy
  orange
  dark gray
  lighter gray
  */
  /*background-color: #7D1935;*/
  /*background-color: #74afad;*/
  /*background-color: #129272;*/
  background-color: #16a085;
  /*background-color: #0b436e;*/
  /*background-color: #FFBA00;*/
  /*background-color: #262626;*/
  /*background-color: #676767;*/
  color:#f8f8f8;
  font-size: 26px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  opacity: 1;
}

.btn {
  padding: 3px;
}

h1 {
  opacity: 1;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 28px;
  margin: 0px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

h1:hover {
  color: #d6dbe0;
}

h2:hover {
  color: #535f6b;
}

.intro {
  background-color: white;
  color: #535f6b;
}

.intro .link {
  color: #90d941;
}

.hi {
  font-size: 70px;
  margin-top: 20px;
}

.me-image {
  height: 375px;
  width: 375px;
}

#play {
  position: absolute;
  bottom: 35px;
}

.social-buttons {
  margin-top: 20px;
}

span {
  font-style: bold;
}

#work {
  margin-top: 20px;
}

.vcenter {
  position: absolute;
  top:33%;
}

@media screen and (max-width: 700px) {
  h1, .hi {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  .me-image {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 300px) {
  h1, .hi {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  .me-image {
    width: 200px;
    height: 200px;
  }
}
